﻿.centrado {
    display: flex;
    flex-direction: column;
    height: 620px;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.loginbox {
    border: solid 1px lightgray;
    max-width: 600px;
    min-width: 300px;
    padding: 15px;
}

.margenb10 {
    margin-bottom: 10px;
}

.margent10 {
    margin-top: 10px;
}

.margent31 {
    margin-top: 31px;
}

.alinear-derecha {
    text-align: right;
}

.fondo-izquierda {
    display: flex;
    align-items: flex-end;
}

.codigo {
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

.formulario {
    padding: 10px;
    margin: 10px 0 10px 0;
    border: 1px solid lightgray;
    border-radius: 6px;
}

.field-validation-error {
    color: red;
}

.input-validation-error {
    border: 2px solid red;
}

.app-header {
    width: 100%;
    border: 1px solid lightgray;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    -ms-border-radius: 6px;
    border-radius: 6px;
    font-size: larger;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    background-color: #f8f9fa;
}