﻿@model MopcPrintServer.ViewModels.ReporteViewModel
@{
    ViewBag.Title = "Add";
}

<div class="center margent10">
    <h2>@Model.AplicacionNombre - @Model.AplicacionDescripcion</h2>
    <h4>Agregar Reporte</h4>
</div>
<br />
@using (Html.BeginForm("Add", "Files", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.AplicacionId)
    @Html.HiddenFor(x => x.AplicacionNombre)
    @Html.HiddenFor(x => x.AplicacionDescripcion)
    <div class="row">
        <div class="col-sm">
            @Html.LabelFor(x => x.Nombre)
            @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Nombre)
        </div>
        <div class="col-sm">
            @Html.LabelFor(x => x.ParametrosPrueba)
            @Html.TextBoxFor(x => x.ParametrosPrueba, new { @class = "form-control", placeholder="Ejemplo: id=5,fecha=2018-05-01" })
            @Html.ValidationMessageFor(x => x.ParametrosPrueba)
        </div>
        <div class="col-sm">
            @Html.LabelFor(x => x.File)
            <input type="file" name="File" value="File" class="form-control" />
            @Html.ValidationMessageFor(x => x.File)
        </div>
    </div>
    <div class="row margent10">
        <div class="col-md">
            <button type="submit" class="btn btn-success">Guardar</button>
        </div>
    </div>
}

@if (!string.IsNullOrEmpty(Model.MensajeError))
{
    <br/>
    <h5 class="field-validation-error">@Model.MensajeError</h5>
}
