﻿<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="@Url.Action("Index", "Home")">
        <img src="~/Content/Images/logo-mopc.svg" alt="Logo MOPC"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav mr-auto">
            <li class="nav-item">
                @Html.ActionLink("Inicio", "Dashboard", "Home", null, new {@class = "nav-link active"})
            </li>
            <li class="nav-item">
                @Html.ActionLink("Mis Aplicaciones", "Index", "Application", null, new {@class = "nav-link active"})
            </li>
        </ul>
        <ul class="nav">
            <li class="nav-item">
                @(!User.Identity.IsAuthenticated ? Html.ActionLink("Iniciar Sesión", "Login", "Home", null, new {@class = "nav-link active"}) : Html.ActionLink("Cerrar Sesión", "CerrarSesion", "Home", null, new {@class = "nav-link active"}))
            </li>
        </ul>
    </div>
</nav>
