﻿@model MopcPrintServer.ViewModels.AplicacionViewModel
@{
    ViewBag.Title = "Add";
}


<h2 class="center margent10">Agregar aplicación</h2>

<br />
@using (Html.BeginForm("Add", "Application", FormMethod.Post))
{
    <div class="row">
        <div class="col-sm-4">
            @Html.LabelFor(x => x.Nombre)
            @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Nombre)
        </div>
        <div class="col-sm-8">
            @Html.LabelFor(x => x.Descripcion)
            @Html.TextBoxFor(x => x.Descripcion, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Descripcion)
        </div>
    </div>
    <div class="row margent10">
        <div class="col-sm-12 align-right">
            <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Guardar</button>
        </div>
    </div>
}
