﻿@model IEnumerable<MopcPrintServer.ViewModels.AplicacionViewModel>
@{
    ViewBag.Title = "Index";
}

<div class="margent10 center">
    <h1>Mis Aplicaciones</h1>
</div>

<div class="row">
    <div class="col-sm align-right">
        <a href="@Url.Action("Add")" class="btn btn-primary"><i class="fas fa-plus"></i> Agregar aplicación</a>
    </div>
</div>
@if (Model == null || !Model.Any())
{
    <br />
    <div class="row">
        <div class="col-sm center">
            <h3>Todavía no ha registrado ninguna aplicación. Puede agregarla en el botón de arriba.</h3>
        </div>
    </div>
}

<br />
@foreach (var app in Model)
{
    <div class="row">
        <div class="col-sm">
            <div class="app-header">
                <span>@app.Nombre - @app.Descripcion</span>
                <span>
                    <a class="btn btn-success" href="@Url.Action("Add", "Files", new { id = app.Id })"><i class="fas fa-clipboard-list"></i> Agregar Reporte</a>
                    <button class="btn btn-secondary"><i class="fas fa-cog"></i></button>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        @if (!app.Reportes.Any())
        {
            <div class="col-sm">
                <p>Esta aplicación todavía no tiene ningún reporte configurado. <a href="@Url.Action("Add", "Files", new { id = app.Id })">Puedes agregar uno aquí</a></p>
            </div>
        }
        else
        {
            <div class="col-sm">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Identificador</th>
                            <th>Parámetros prueba</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var reporte in app.Reportes)
                        {
                            <tr>
                                <td>@reporte.Nombre</td>
                                <td>@reporte.Identificador</td>
                                <td>
                                    <input type="text" class="form-control" id="@($"parametro{reporte.Identificador}")" name="@reporte.Identificador" value="@reporte.ParametrosPrueba" />
                                </td>
                                <td class="align-right">
                                    <button onclick="cargarReporte('@reporte.Identificador')" class="btn btn-secondary"><i class="fas fa-vial"></i> Probar</button>
                                    <a class="btn btn-secondary" href="@Url.Action("DescargarReporte", "Files", new { identificador = @reporte.Identificador })"><i class="fas fa-download"></i> Descargar</a>
                                    <a href="@Url.Action("Edit", "Files", new {id = reporte.Id })" class="btn btn-secondary"><i class="fas fa-upload"></i> Re-Cargar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
}

<script>
    var esAmbienteProduccion;
    var lugar = window.location;
    if (lugar.href.indexOf("mopc") > -1)
        esAmbienteProduccion = true;
    else
        esAmbienteProduccion = false;
    
    var cargarReporte = function (identificador) {
        console.log(identificador);
        var id = 'parametro' + identificador;
        var parametros = document.getElementById(id).value;
        console.log(parametros);
        var url = "/Printer/Print/" + identificador + "|" + parametros;
        if (esAmbienteProduccion) {
            url = "/MOPCPrintServer/Printer/Print/" + identificador + "|" + parametros;
        }
        console.log(url);

        var a = document.createElement("a");
        a.target = "_blank";
        a.href = url;
        a.click();
    }
</script>