﻿
@{
    ViewBag.Title = "Index";
    var report = (WebReport) @ViewBag.WebReport;
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
}

<br />
<div class="row">
    <div class="col-sm center">
        @report.GetHtml()
    </div>
</div>

<script>
    document.querySelector("body").style.backgroundColor = "darkgray";
</script>
