﻿
@{
    ViewBag.Title = "DashBoard";
}

<div class="centrado">
    <div class="row">
        <div class="col">
            <h4>Identificador asignado:</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>@ViewBag.Identificador</h1>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <h6>Cada request debe tener un header llamado "PrntServerAuthCode" (sin comillas) cargando el identificador asignado.</h6>
            <br />
            <h6>Ejemplo en SPA Vue con Axios:</h6>
            <p>Colocar en main.js</p>
            <p class="codigo">import axios from 'axios'; 
                <br />axios.defaults.headers.common["PrntServerAuthCode"] = "@ViewBag.Identificador";</p>
            <p>Este código hará que todos los requests hechos con axios lleven el header correspondiente.</p>
        </div>
    </div>
</div>


