﻿@model MopcPrintServer.ViewModels.RegistrarViewModel
@{
    ViewBag.Title = "Registro";
}

<div class="centrado" id="app">
    <div class="row margenb10">
        <div class="col">
            <h4><strong>Crear cuenta</strong></h4>
        </div>
    </div>
    @using (@Html.BeginForm("CrearUsuario", "Home", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post))
    {
        <div class="loginbox">
            <div class="row margenb10">
                <div class="col">
                    <label>Correo electrónico</label>
                    @Html.TextBoxFor(x => x.Usuario, new {@class = "form-control"})
                    @Html.ValidationMessageFor(x => x.Usuario)
                </div>
            </div>
            <div class="row margenb10">
                <div class="col">
                    <label>Contraseña</label>
                    @Html.TextBoxFor(x => x.Contrasena, new {@class = "form-control", type = "password"})
                    @Html.ValidationMessageFor(x => x.Contrasena)
                </div>
            </div>
            <div class="row margenb10">
                <div class="col">
                    <label>Confirmar Contraseña</label>
                    @Html.TextBoxFor(x => x.Confirmacion, new {@class = "form-control", type = "password"})
                    @Html.ValidationMessageFor(x => x.Confirmacion)
                </div>
            </div>
            <div class="row">
                <div class="col fondo-izquierda">
                    @Html.ActionLink("Iniciar Sesión", "Login", "Home")
                </div>
                <div class="col alinear-derecha">
                    <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Registrarse</button>
                </div>
            </div>
        </div>
    }
</div>

